body {
  background-color: rgb(14, 6, 63);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
form label {
  font-size: 1.3rem;
  text-transform: capitalize;
}

form input {
  min-width: 33rem;
  padding: 10px 15px;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
  font-size: 1.2rem;
  font-weight: 500;
}
