.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
  color: #fff;
}

.question-item {
  /* border-bottom: 1px solid #fff; */
  font-size: 1.2rem;
  cursor: pointer;
}
.question-item:hover {
  color: chartreuse;
}

.responce-container {
  position: fixed;
  width: 100vh;
  height: 100vw;
  background-color: red;
}
